<form action="/records" method="POST">
  <input type="text" placeholder="名稱" name="name">
  <input type="date" placeholder="日期" name="date">
  <input type="text" placeholder="類別" name="category">
  <input type="text" placeholder="金額" name="amount">
  <button type="submit">新增支出</button>
</form>