.navbar {
  background-color: tomato;
}

.navbar-brand {
  color: white;
}


.recordBtn {
  background-color: tomato; 
  color:white; font-size: 16px; 
  padding: 10px 40px; 
  border: 1.5px solid black;
}

.navbar-brand:hover, .recordBtn:hover {
  color: black;
  text-decoration: none;
}

#records li:nth-of-type(odd) { 
  background:#F5F5F5;
}

#records li:nth-of-type(even) { 
  background:#FFF;
}

.formInput {
  height: 50px;
}

.form-group {
  margin-bottom: 50px;
}